.confirmation {
	.confirmation__title {
		font-size: toRem(16);
		color: #292926;
		text-align: center;
		margin-bottom: toRem(18);
    margin-top: toRem(8);
    line-height: 1.5;
	}
	height: toRem(300);
  overflow: auto;
  padding: toRem(15) toRem(20) toRem(20);
  margin-bottom: toRem(40);
  border: 1px solid #cfd8dc;
  border-radius: 4px;
  color: #37474f;
  font-size: toRem(14);
  line-height: 1.7;
  font-weight: $font-weight-light;
}

[data-scrollbar] .scrollbar-track, [scrollbar] .scrollbar-track, scrollbar .scrollbar-track {
	opacity: 0.15;
}
[data-scrollbar] .scrollbar-track-y, [scrollbar] .scrollbar-track-y, scrollbar .scrollbar-track-y {
	width: 5px;
}

@include respond-to-max($mobile) {
	.confirmation {
		text-align: justify;
		padding: toRem(5) toRem(13) toRem(13) toRem(13);
		font-size: toRem(12);
		.confirmation__title {
			font-size: toRem(14);
			margin-bottom: toRem(10);
		}
	}
}