.content {
	padding-top: toRem(40);
	padding-bottom: toRem(60);

	.content__bfamily {
		padding-top: toRem(103);
		z-index: 99;
		max-width: toRem(262);
		.bfamily__text {
			background: $white;
		}
	}
	.content__widget {
		margin-top: toRem(20);
		margin-bottom: toRem(40);
		max-width: toRem(825);
		width: 100%;
		overflow: auto;
	}
	.content__title {
		color: #263238;
		font-size: toRem(46);
		line-height: 1;
		font-weight: $font-weight-light;
		padding-bottom: toRem(40);
		margin-bottom: 0;
		margin-top: toRem(15);
	}
	p {
		font-size: toRem(18);
		line-height: 1.66;
		margin-bottom: toRem(15);
		word-break: break-word;
	}

	a {
		color: $lochmara2;
	}

	@include respond-to-max(1200px) {
		.content__bfamily {
			width: toRem(212.5);
		}
	}
	@include respond-to-max($tablet) {
		.content__bfamily {
			position: static!important;
		}
	}
	@include respond-to-max($mobile) {
		padding-top: toRem(20);
		padding-bottom: toRem(30);
		.content__title {
			font-size: toRem(36);
			margin-bottom: 0;
			padding-bottom: toRem(20);
		}
		.content__widget {
			display: none;
		}
		.content__bfamily {
			padding-top: toRem(30);
			max-width: 100%;
			width: 100%;
		}
	}

	// @include respond-to-max($mobile) {
	// 	.content__widget {
	// 		overflow: auto;
	// 	}
	// }
}

.list {
	&.list-style1 {
		margin-bottom: toRem(25);
		list-style-position: inside;
		list-style-image: url('../images/list-item-1.png');
		li {
			font-size: toRem(18);
			line-height: 1.66;
		}
	}

	&.list-style3 {
		display: flex;
    flex-flow: row wrap;
    align-items: center;
		li {
			margin-bottom: toRem(40);
		}
		.list__wrap {
			min-height: 75px;
			p {
				margin-bottom: toRem(8);
			}
		}
		margin: toRem(45) 0 0 0;
		text-align:center;
		p {
			font-size: toRem(12);
			font-weight: $font-weight-bold;
			color: $black;
			span {
				display: block;
			}
		}
		// a {
		// 	text-decoration: none;
		// 	display: block;
		// 	&:hover, &:focus {
		// 		p {
		// 			color: $lochmara2;
		// 		}
		// 	}
		// }
		.list__icon {
			width: toRem(90);
			height: toRem(80);
			margin-bottom: toRem(15);
			fill: $lochmara2;
		}
	}

	&.list-style2 {
		li {
			margin-top: toRem(25);
			margin-bottom: toRem(25);
			display: inline-block;
			margin-right: -4px;
			vertical-align: top;
			float: none;
			a {
				//display: block;
				display: flex;
				align-items: center;
    		justify-content: flex-start;
    		align-content: center;
				&:hover, &:focus {
					span {
						color: $lochmara2;
					}
				}
			}
			span {
				overflow: hidden;
				color: $black;
				padding-right: toRem(10);
        display: block;
			}
		}
		.list__icon {
			width: toRem(30);
			height: toRem(35);
			margin-right: toRem(12);
			margin-top: toRem(5);
			float: left;
		}
	}


  @include respond-to-max($tablet) {
		&.list-style3 {
			align-content: center;
    	justify-content: center;
		}
	}

	@include respond-to-max($mobile) {
		&.list-style3 {
			.list__wrap {
				min-height: auto;
			}
		}
		li {
			width: 100%;
		}
	}
}

.underline {
	text-decoration: underline;
}
