.document {}
.document-inline {
	.document__item {
		text-align: left;
		margin-bottom: toRem(13);
		.item__icon {
			float: left;
			margin-right: toRem(18);
			margin-top: toRem(10);
		}
	}
}
.document__title {
	font-size: toRem(18);
	color: $fiord;
	font-weight: $font-weight-light;
	line-height: 1.77;
	//text-align: center;
	margin: 0 0 toRem(25) 0;
	&.title-1 {
		margin-left: auto;
		margin-right: auto;
		max-width: toRem(360);
		text-align: center;
	}
}
.document__item {
	text-align: center;
	margin-bottom: toRem(30);
	.item__icon {
		padding-bottom: toRem(10);
		svg {
			width: toRem(67);
			height: toRem(40);
			margin: auto;
			display: block;
			fill: $lochmara2;
		}
	}
	.item__title {
		font-size: toRem(16);
		line-height: 1.85;
		font-weight: $font-weight-regular;
		color: $fiord;
		margin-top: 0;
		margin-bottom: 0;
	}
	.item__subtitle {
		font-size: toRem(14);
		line-height: 1.55;
		color: $fiord;
		margin-top: toRem(10);
		display: inline-block;
	}
}
.document__upload {
	padding: toRem(15) 0 toRem(30) 0;
}
.document__wrap {
	overflow: hidden;
	padding-bottom: toRem(10);
}
.document__description {
	overflow: hidden;
	> img {
		float: left;
		margin-top: toRem(15);
		margin-right: toRem(30);
		margin-bottom: toRem(25);
	}
}
.description__wrap {
	overflow: hidden;
	font-size: toRem(16);
	color: $fiord;
	font-weight: $font-weight-light;
	line-height: 1.85;
	padding-bottom: toRem(25);
}

@include respond-to-max($mobile) {
	.document__description {
		text-align: center;
		> img {
			float: none;
		}
	}
	.modal .document {
		padding: toRem(45) toRem(30);
	}
	.document-inline {
		.document__item {
			text-align: center;
			.item__icon {
				float: none;
			}
		}
	}
}