.form {
	clear: both;

	.with-tip {
		padding-right: toRem(35);
	}

	.form__wrap {
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
		position: relative;
		z-index: 2;
		clear: both;
		label {
			display: block;
			font-size: toRem(16);
			color: $lochmara;
			padding: 0;
			margin: 0;
			font-family: $font-family-roboto;
			font-weight: $font-weight-regular;
			> span {
				color: $alizarin;
			}
		}

		.checkbox-custom {
			margin-right: toRem(16);
			//margin-top: toRem(10);
		}

		.policy__text {
			font-size: toRem(14);
			color: $fiord;
			a {
				color: #048ccd;
			}
		}
	}

	.form__title {
		font-size: toRem(24);
		line-height: 1.25;
		font-weight: $font-weight-light;
		color: $fiord;
		margin: toRem(22) 0 toRem(32);
		display: inline-block;
    width: 100%;
	}

	.form__wrap_with-select{
		padding-bottom: 13px;
	}
	.error {
		display: none;
	}
	.form-error {
		label {
			color: $alizarin!important;
		}

		.error {
			position: absolute;
	    top: 100%;
      margin-top: toRem(-29);
      color: $alizarin;
	    margin-bottom: toRem(10);
	    font-size: toRem(12);
	    line-height: 1;
		}

		.form__input,
		.select2-selection--single {
			border-bottom-color: $alizarin;
		}
	}

	.form__step {
		display: none;
		&.current {
			display: inherit;
		}
		.row {
			margin-left: -10px;
			margin-right: -10px;
			> [class^="col-"], > [class*=" col-"] {
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}

	.form__step__title {
		font-size: toRem(30);
		font-weight: $font-weight-light;
		line-height: 1.8;
	}
	.form__step__text {
		font-size: toRem(16);
		line-height: 1.8;
	}
	.form__step__text2 {
		font-size: toRem(18);
		line-height: 1.66;
		margin-bottom: toRem(25);
		font-weight: $font-weight-light;
	}

	.form-error-text {
		color: $alizarin;
		font-size: toRem(14);
		span {
			border-bottom: 1px dotted $alizarin;
		}
	}

	.form__input {
		font-size: toRem(18);
		line-height: 1;
		color: $black;
		font-weight: $font-weight-bold;
		border: none;
		outline: none;
		padding: toRem(4) 0 toRem(4) 0;
		margin-bottom: toRem(13);
		border-bottom: 1px solid $silver;
		width: 100%;
		border-radius: 0;
	}


	.form__textarea {
		width: 100%;
		border-radius: 6px;
		margin-top: toRem(9);
		border: 1px solid $silver;
		min-height: toRem(120);
		resize: none;
		color: $black;
		outline: none;
		font-size: toRem(18);
		font-weight: $font-weight-bold;
		padding: toEm(10) toEm(10);
		margin-bottom: toRem(14);
	}

	.error {
		display: none!important;
	}

	&.form-style1 {
		.form__wrap {
			margin-bottom: toRem(10);
			label {
				display: block;
				font-size: toRem(14);
			}
			.form__input {
				padding-top: 0;
			}
		}
	}

	&.form-style2 {
		.form__wrap {
			margin-bottom: toRem(18);
			label {
				display: block;
				font-size: toRem(14);
			}
			.form__input {
				padding-top: 0;
			}
		}
		.form__step__text {
			color: $tuatara;
			margin-bottom: 0;
		}
		.form__navigation {
			input[type="submit"] {
				min-width: toRem(170);
			}
		}
	}

	&.form-style3 {
		.select2-selection__placeholder {
			font-weight: $font-weight-regular;
			font-size: toRem(16);
		}
		.xform__center {
			max-width: toRem(550);
		}
		.form__input {
			padding: toRem(5) 0;
			&::-webkit-input-placeholder {
			  font-weight: $font-weight-regular;
			  font-size: toRem(16);
			}
			&::-moz-placeholder {
			  font-weight: $font-weight-regular;
			  font-size: toRem(16);
			}
			&:-ms-input-placeholder {
			  font-weight: $font-weight-regular;
			  font-size: toRem(16);
			}
			&:-moz-placeholder {
			  font-weight: $font-weight-regular;
			  font-size: toRem(16);
			}


		}

		.select2-selection__rendered {
			padding-left: 0!important;
		}

		.form__input {
			font-size: toRem(16);
		}

		.form-error {
			label {color: $lochmara2!important;}
		}
	
		.form__wrap {
			padding-bottom: toRem(20);
			label {
				font-size: toRem(12);
				position: absolute;
				bottom: 88%;
				opacity: 0;
				visibility: hidden;
				transition: all 0.1s ease-in-out;
				&.active {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		.form-error {
			.error {
				display: block!important;
			}
		}

		.radio-group-h {
			.error {
				margin-top: toRem(-20);
			}
			label {
				opacity: 1;
				visibility: visible;
				position: relative;
			}
		}
	}

	.parsley-errors-list {
		display: none;
	}

	@include respond-to-max($mobile) {
		.form__step__title {
			font-size: toRem(20);
		}
		.form__step__text {
			font-size: toRem(14);
		}
	}
}

.form__navigation {
	@include clearfix;
}
.form__navigation__steps {
	max-width: toRem(558);
	margin: toRem(4) auto toRem(155) auto;
	position: relative;
	padding: 0 toRem(40);
}
.form__navigation__step {
	display: block;
	width: 50%;
	white-space: nowrap;
	float: left;
	background: transparent;
	border: none;
	outline: none;
	overflow: visible;
	height: 1px;
	position: relative;
	cursor: default;
	.step__text {
		margin: -8px 0 18px 0;
		padding: 26px 0 0 0;
		transform: translate(-50%, 0);
		position: absolute;
    left: 100%;
		font-size: toRem(14);
		color: $limed-spruce;
		font-family: $font-family-roboto;
		text-align: center;
		opacity: 0.5;
		background: none;
		outline: none;
		border: none;
		cursor: default;
		z-index: 5;
		> span {
			font-weight: $font-weight-light;
			padding-bottom: 10px;
			display: inline-block;
			vertical-align: top;
		}
		> p {
			font-weight: $font-weight-regular;
		}
	}
	> span {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1;
	}
	&.rendered {
		&.inactive {
			> span:before, > span:after {
				background: $lochmara2!important;
			}
		}
		// &.completed {
		// 	cursor: pointer;
		// }
		&:hover {
			> span:before, > span:after {
				background: $lochmara2!important;
			}
		}
	}
	&.completed {
		cursor: pointer;
		> span:before, > span:after {
			background: $lochmara2;
		}
		.step__text {
			opacity: 1!important;
			cursor: pointer;
		}
		&.inactive {
			> span:before, > span:after {
				background: $lochmara2!important;
			}
		}
	}
	&:first-child {
		position: absolute;
		width: auto;
		> span:before {
			display: none;
		}
		> span:after {
			right: initial;
			left: toRem(-7);
			top: toRem(-6);
		}
		.step__text {
			margin-left: -10px;
		}
	}
	> span:before {
		content: '';
		position: absolute;
		left: 18px;
		right: 18px;
		height: 1px;
		background: #cfd8dc;
		display: block;
		top: 0;
		z-index: -1;
	}
	> span:after {
		content: '';
		position: absolute;
		right: toRem(-7);
		top: toRem(-6);
		width: toRem(15);
		height: toRem(15);
		border-radius: 50%;
		display: block;
		background: #cfd8dc;
	}
}

.form-intro {
	@include clearfix;
	margin-bottom: toRem(50);
	.intro__icon {
		float: left;
		width: toRem(112);
		height: toRem(112);
		border-radius: 50%;
		border: 1px solid #d0d9dd;
		padding: toRem(30);
		margin-right: toRem(50);
		margin-bottom: toRem(35);
		svg {
			width: 100%;
			height: 100%;
			fill: $lochmara2;
		}
	}
	.intro__wrap {
		overflow: hidden;
	}
	.intro__wrap__title {
		margin: 0 0 toRem(20) 0;
		font-size: toRem(24);
		line-height: 1.2;
		font-weight: $font-weight-light;
		color:$fiord;
	}
	.intro__wrap__list {
		li {
			// list-style: disc;
			// list-style-position: inside;
			position: relative;
			margin-bottom: 8px;
			padding-left: 15px;
			&:before {
				position: absolute;
				top: 10px;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				content: '';
				left: 0;
				background: $fiord;
			}
			span {
				font-size: toRem(16);
				//margin-left: -20px;
				color: $fiord;
				margin-right: 24px;
		    max-width: 200px;
		    width: 100%;
		    display: inline-block;
		    vertical-align: top;
			}
			a {
				font-size: toRem(14);
				color: $lochmara2;
				outline: none;
			}
		}
	}
}


@include respond-to-max($mobile) {
	.form__navigation__step {
		.step__text > p {
			display: none;
		}
	}
	.form__navigation__steps {
		margin-bottom: toRem(100);
	}
	.form-intro {
		.intro__icon {
			float: none;
			margin-left: auto;
			margin-right: auto;
		}
		.intro__wrap__title {
			text-align: center;
			margin-bottom: toRem(34);
		}
		.intro__wrap__list {
			li {
				span {
					display: block;
				}
			}
		}
	}

	.form {
		.form__title {
			font-size: toRem(20);
		}
	}

}