.hero {
	//padding-bottom: toRem(25);
	.hero__wrapper {
		padding-top: toRem(110);
		padding-bottom: toRem(50);
		background: url('../images/hero-bg.jpg') right top no-repeat;
		background-size: auto 100%;
	}
	.hero__logo {
		margin-bottom: toRem(26);
		max-width: 450px;
    height: 98px;
    width: 100%;
	}
	.hero__title {
		font-family: $font-family-ubuntu;
		font-weight: $font-weight-bold;
		font-size: toRem(30);
		line-height: toRem(40);
		color: $denim;
		margin: 0;
	}
	.hero__subtitle {
		font-family: $font-family-ubuntu;
		font-weight: $font-weight-light;
		font-size: toRem(30);
		line-height: toRem(40);
		color: $denim;
		margin: 0;
		margin-bottom: toRem(40);
	}
	.hero__legality {
		margin-top: toRem(15);
		color: $silver;
		font-size: toRem(10);
		line-height: 2.2;
	}

	.hero__description {
		padding: toRem(22) 0 toRem(12) 0;
		text-align: center;
		&.hero__WYSIWYG_2{
			p {
				font-size: toRem(18);
				font-weight: $font-weight-light;
				margin-bottom: toRem(20);
			}
		}
	}
	.hero-description__text1 {
		font-size: toRem(18);
		font-weight: $font-weight-light;
		padding-bottom: toRem(10);
		span {
			padding-top: toRem(4);
			display: block;
			font-weight: $font-weight-regular;
			font-size: toRem(12);
		}
	}
	.hero-description__text2 {
		font-size: toRem(18);
		font-weight: $font-weight-light;
	}
	.hero-description__text3 {
		font-size: toRem(24);
		font-weight: $font-weight-light;
		color: $fiord;
		line-height: 1.25;
	}

	.hero-description__item {
		padding-top: toRem(25);
		padding-bottom: toRem(28);
		color: $limed-spruce;
		font-weight: $font-weight-light;
		.item__title {
			font-size: toRem(20);
			line-height: 1.5;
			margin: 0 0 toRem(5) 0;
			color: $limed-spruce;
			font-weight: $font-weight-light;
		}
		.item__wrap {
			span {
				display: inline-block;
				vertical-align: middle;
				font-size: toRem(18);
				padding: 0 toRem(5);
			}
			.item__strong {
				font-size: toRem(92);
				line-height: 1;
				font-weight: $font-weight-medium;
				color: $wedgewood;
				letter-spacing: -6px;
			}
		}
	}
}
// hero-bottom
.hero-bottom {
	padding-bottom: toRem(30);
	.bfamily {
		 margin: 0 auto toRem(15) auto;
	}
}
.hero-bottom__title {
	font-size: toRem(32);
	font-weight: $font-weight-light;
	color: $limed-spruce;
	text-align: center;
	margin: 0 0 toRem(30) 0;
	line-height: 1.3;
}
// hero-benefits
.hero-benefits {
	padding-bottom: toRem(10);
	.hero-benefits__wrap {
		background: #f5f7f8;
		padding: toRem(40) 0 toRem(105) 0;
		margin-bottom: toRem(40);
		.transfer-card {
			margin: 0 toRem(-10) 0 toRem(47);
			display: inline-block;
			float: right;
		}
	}
}
.hero-benefits__description {
	.description__title {
		font-size: toRem(48);
		margin: inherit;
		font-weight: $font-weight-light;
		padding-bottom: toRem(15);
	}
	p {
		font-size: toRem(24);
		line-height: 1.25;
		font-weight: $font-weight-light;
		strong {
			font-size: toRem(44);
			font-weight: $font-weight-medium;
			line-height: 0.4;
		}
	}
}
.hero-benefits__cards {
	display: flex;
	justify-content: flex-end;
}
.hero-benefits__items {
	margin-top: toRem(-100);
}


@include respond-to-max(875px) {
	.hero {
		.hero__wrapper {
			background-position: left top!important;
		}
	}
}
@include respond-min-max($mobile, $tablet) {
	.hero .hero-description__item .item__wrap span {
		display: block;
	}
}
@include respond-to-max($mobile) {
	.hero {
		.hero__logo {
			margin-bottom: toRem(20);
		}
		.hero__wrapper {
			padding-top: toRem(93);
			padding-bottom: toRem(20);
		}
		.hero__title, 
		.hero__subtitle {
			font-size: toRem(18);
			line-height: 1.45;
		}
		.hero__subtitle {
			padding-bottom: toRem(15);
		}
		.hero__legality {
			margin-top: toRem(30);
			line-height: initial;
		}
		.bfamily {
			margin: auto;
		}

		.hero__description.hero__WYSIWYG_2 {
			p {
				margin-bottom: toRem(30);
			}
		}
		.hero-description__text3 {
			font-size: toRem(16);
			line-height: 1.5;
			margin-bottom: toRem(45);
		}
		.hero-description__item {
			.item__wrap {
				.item__strong {
					font-size: toRem(64);
				}
				span {
					font-size: toRem(16);
				}
			}
		}
	}

	.hero-benefits {
		.hero-benefits__wrap {
			padding: toRem(28) 0 toRem(50) 0;
			.transfer-card {
				margin: 0 toRem(5);
				box-shadow: 0 0 5px rgba(0,0,0,0.6);
				border-radius: 7px;
				&:before {
					display: none;
				}
			}
		}
	}
	.hero-benefits__description {
		margin-bottom: toRem(25);
		text-align: center;
		.description__title {
			margin: auto;
			font-size: toRem(40);
		}
		p {
			font-size: toRem(18);
			line-height: 2;
			strong {
				line-height: 1;
				font-size: toRem(24);
			}
		}
	}
	.hero-benefits__cards {
		justify-content: center;
	}
	.hero-benefits__items {
		margin: 0;
	}
	.hero-bottom__title {
		font-size: toRem(26);
		font-weight: $font-weight-thin;
		margin-bottom: toRem(60);
	}
}