.main-footer {
	background-image: url('../images/footer-bg.png');
	background-repeat: no-repeat;
	background-position: right bottom;
	box-shadow: 0 -10px 10px rgba($biscay, 0.1);
	.main-footer__wrap {
		padding-top: toRem(40);
		padding-bottom: toRem(20);
	}
	.main-footer__policy {
		background: #122c4a;
		padding: toRem(6) 0 toRem(8) 0;
		p {
			margin: 0;
			font-size: toRem(10);
			color: rgba(#a7c1e1, 0.6);
		}
	}
}