.navbar-default {
	border: none;
	background: $white;
	border-radius: 0;
	background: linear-gradient(to right,  rgba($white, 0.95) 30%, rgba($alabaster, 0.95) 100%);
	box-shadow: 0 toRem(3) toRem(10) rgba(0,0,0,0.09);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	.navbar-header {
		position: absolute;
		left: toRem(15);
		right: toRem(15);
		width: 1170px;
    margin: auto;
	}
	.navbar-brand-wrap {
		overflow: hidden;
	}
	.navbar-toggle {
		border: none;
		&:hover, &:focus {
			background: transparent;
		}
		.icon-bar {
			height: toRem(3);
			width: 25px;
			background: $lochmara;
		}
		+ .nav-auth {
			padding: toRem(16) toRem(13);
			.icon {
				width: toRem(25);
				height: toRem(25);
			}
		}
	}
	.navbar-brand {
		height: auto;
		padding: toRem(11) 0;
		margin-left: 0!important;
		> svg {
			width: toRem(140);
			height: toRem(26);
		}
		&.navbar-brand-animate {
			transform: translate(0,100%);
			transition: transform 0.46s ease-in-out;
			&.active {
				transform: translate(0,0);
			}
		}
	}
	.navbar-nav {
		// padding: toRem(15) 0;
		> li {
			font-size: toRem(12);
			font-family: $font-family-roboto;
			font-weight: $font-weight-bold;
			color: $tundora;
			padding: toRem(15) 0;
			padding-left: toRem(50);
			text-transform: uppercase;
			position: static!important;
		  &.nav-animate {
		  	transform: translate(0,0);
				transition: transform 0.46s ease-in-out;
				&.topanimate {
					transform: translate(0,-110%);
				}
		  }
			> .dropdown {
				position: absolute;
				top: toRem(50);
				left: 0;
				right: 0;
				background: $white;
				z-index: 1;
				box-shadow: 0 toRem(3) toRem(10) rgba(0,0,0,0.06), inset 0 toRem(3) toRem(15) rgba(0,0,0,0.06);
				.nav {
					display: flex;
			    align-items: center;
			    justify-content: space-between;
			    align-content: space-between;
			    flex-flow: row nowrap;
			    width: 100%;
					> li {
						&:first-child {
							padding-left: 0;
						}
						text-transform: initial;
						padding-left: toRem(30);
						font-weight: $font-weight-regular;
						&.active {
							a {
								color: $lochmara;
								background: none;
								&:before, &:after {
									display: none;
								}
							}
						}
						a {
							line-height: 1;
							color: #263238;
						}
					}
				}
			}
			&.active {
				> a {
					color: $lochmara;
					background: none;
					&:hover {
						background: transparent;
						color: $lochmara;
					}
					&:before {
						position: absolute;
						bottom: toRem(-16);
						left: toRem(-20);
						right: toRem(-20);
						height: 2px;
						background: $lochmara;
						display: block;
						content: '';
					}
					&:after {
						content: '';
						width: 0;
						height: 0;
						display: block;
						border-left: 3px solid transparent;
						border-top: 3px solid  $lochmara;
						border-right: 3px solid transparent;
						bottom: toRem(-18);
						position: absolute;
						left: 0;
						right: 0;
						margin: auto;
						z-index: 9;
					}
				}
			}
			a {
				color: $tundora;
				padding: 0;
			}
			&.nav-phone {
				font-size: toRem(14);
				font-weight: $font-weight-regular;
				padding-left: toRem(28);
				margin-left: toRem(45);
				strong {
					color: #e81b23;
					font-weight: $font-weight-bold;
				}
				a {
					> svg {
						vertical-align: top;
						margin-right: toRem(8);
						width: toRem(17);
						fill: #e91b23;
					}
				}
				span {
					float: right;
					display: block;
			    position: absolute;
			    right: 0;
			    top: 0;
			    bottom: 0;
			    width: toRem(47);
			    line-height: toRem(60);
			    background: #00c853;
			    text-align: center;
			    svg {
			    	fill: #fff;
			    	width: toRem(17);
			    }
				}
			}
			&.nav-auth {
				position: relative!important;
				font-size: toRem(12);
				letter-spacing: 1.5px;
				padding-left: toRem(20);
				margin-left: toRem(40);
				z-index: 99;
				cursor: pointer;
				&:before {}
				&:hover:not(.notouch), &.open {
					> a {
						&:before {
							background: $white;
							box-shadow: 0 0 8px rgba(0,0,0,.15);
						}
						&:after {
							top: 2px;
							border-bottom: 3px solid $lochmara2;
							border-top: 3px solid transparent;
						}
					}
					> .dropstrong {
						opacity: 1;
						visibility: visible;
						transform: translate(0, 0);
						transition: opacity 0.15s ease-in-out;
						//display: block;
					}
				}
				> .dropstrong {
					position: absolute;
					right: toRem(-15);
					top: 100%;
					width: 100%;
					background: $white;
					width: toRem(260);
					z-index: 9999;
					//display: none;
					opacity: 0;
					visibility: hidden;
					transform: translate(0, 50%);
					transition: all 0.3s ease-out; 
	        -webkit-transition: all 0.3s ease-in-out;
	        -moz-transition: all 0.3s ease-in-out;
	        -o-transition: all 0.3s ease-in-out;
					z-index: 2;
					&:before {
						content: '';
						position: absolute;
						box-shadow: 0 3px 5px rgba(0,0,0,.15);
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						width: 100%;
						height: 100%;
						z-index: -1;
					}
					li {
						font-weight: $font-weight-regular;
						letter-spacing: 0.8px;
						a {
							padding: toRem(18) toRem(28);
							text-decoration: none;
							font-size: toRem(16);
							display: block;
							color: $lochmara2;
							text-transform: none;
							&:hover {
								background: #ebebeb;
							}
							span {
								color: #e91b23;
							}
						}
					}
				}
				> a {
					color: $lochmara;
					padding-right: toRem(10);
					padding-left: toRem(5);
					position: relative;
					background: none!important;
					&:before {
						content: '';
						position: absolute;
						top: toRem(-22);
						left: toRem(-15);
						right: toRem(-15);
						bottom: toRem(-15);
						z-index: -1;
					}
					&:after {
						content: '';
						position: absolute;
						right: 0;
						top: 0;
						bottom: 0;
						height: 0;
						width: 0;
						border-top: 3px solid $lochmara2;
						border-left: 3px solid transparent;
						border-right: 3px solid transparent;
						margin: auto;
					}
					> svg {
						vertical-align: top;
						margin-right: toRem(6);
					}
				}
			}
		}
	}


	@include respond-to-max(1200px) {
		.navbar-header {
			width: 970px;
		}
		.navbar-nav {
			> li {
				padding-left: toRem(25);
				&.nav-phone {
					margin-left: toRem(20)!important;
				}
				&.nav-auth {
					margin-left: toRem(20)!important;
				}
			}
		}
	}

	@include respond-to-max($tablet) {
		.navbar-header {
			position: relative!important;
			width: 750px;
			left: toRem(-15);
			right: 0;
			margin: auto;
			max-width: none;
		}
		min-height: toRem(60);
		background: #fdfdfd;
		&.navbar-scroll {
			height: 100%;
	    overflow: scroll;
		}
		.navbar-brand {
			padding: toRem(16) toRem(0) toRem(16) toRem(15);
		}
		.navbar-toggle {
			padding-top: toRem(13);
			padding-bottom: toRem(13);
			margin-right: toRem(7);
			display: block;
		}

		.navbar-nav {
			padding: toRem(20) 0;
			margin: 0;
			li {
				&.nav-animate {
			  	transform: translate(0,0);
					&.topanimate {
						transform: translate(0,0);
					}
			  }
			}
			&.navbar-nav2 {
				margin: 0;
				padding: 0;
				> li {
					padding: toRem(20);
					cursor: pointer;
					// padding-left: toRem(25);
					margin-left: 0!important;
				}

				.nav-phone {
					.dropstrong {
						a {
							padding: toRem(20) toRem(30);
							font-size: toRem(14);
							display: block;
						}
					}
				}

				.nav-auth {
					.dropstrong {
						right: toRem(5)!important;
					}
			  	a {
			  		padding: 0;
						&:before {
							bottom: toRem(-22);
						}
			  		&:after {
			  			display: none;
			  		}
			  		svg {
			  			margin: 0;
			  		}
			  	}
				}
			}
			> li {
				padding: toRem(2);
				font-size: toRem(16);
				margin-top: toRem(16);
				&:first-child {
					margin-top: 0;
				}

				> .dropdown {
					position: initial;
					top: toRem(50);
					left: 0;
					right: 0;
					background: transparent;
					box-shadow: none;
					.nav {
						display: block;
				    width: 100%;
						> li {
							&:first-child {
								padding-left: toRem(20);
							}
							padding-left: toRem(20);
						}
					}
				}

				&.active {
					a {
						&:before, &:after {
							display: none;
						}
					}
				}
			}
		}
	}

	@include respond-to-max($mobile) {
		.navbar-header {
			min-width: 100%!important;
	    position: static!important;
	    left: 0;
	    right: 0!important;
	    margin-right: toRem(-15);
	    margin-left: toRem(-15);
	    width: auto;
		}
		.navbar-nav {
			li {
				&.nav-auth {
					padding: toRem(20) toRem(15);
					position: static!important;
					display: inline-block;
    		  margin-right: 0;
				}
				&.nav-phone {
					span {
						width: toRem(60);
						svg {
							width: toRem(30);
						}
					}
				}
			}
			.dropstrong {
				left: 0;
				right: 0;
				width: 100%!important;
			}
		}
	}
}