.panel-faq {
	.panel-default {
		border: none;
		box-shadow: none;
		> .panel-heading {
			background: none;
			border: none;
			padding-bottom: 5px;
			// margin-bottom: toRem(10);
			.panel-title {
				font-size: toRem(18);
				line-height: 1.8;
				position: relative;
				padding-left: toRem(6);
				&:before {
					content: '';
					position: absolute;
					top: 11px;
					left: -14px;
					width: 12px;
					height: 11px;
					background: url('../images/list-item-1.png') no-repeat;
				}
				a {
					border-bottom: 1px dashed #90a4ae;
					color: #058bcd;
					text-decoration: none;
					font-weight: $font-weight-bold;
					&.collapsed {
						color: #263238;
						font-weight: $font-weight-regular;
					}
				}
			}
		}

		.panel-body {
			background: #eef0f1;
			border: none!important;
			font-size: toRem(18);
			line-height: 2;
			margin-top: toRem(15);
			padding: toRem(17) toRem(27);
			margin-bottom: toRem(50);
		}
	}
}