.transfer-card {
	position: relative;
	z-index: 1;
	&:before {
		position: absolute;
    width: 80%;
    height: 3%;
    margin: auto;
    border-radius: 50%;
    z-index: -1;
    bottom: -5%;
    content: "";
    right: 0;
    left: 0;
    box-shadow: 0 30px 15px rgba(0,0,0,0.10);
	}
}