.upload-files {
	overflow: hidden;
}
.qq-gallery .qq-upload-button.qq-upload-button-hover,
.qq-gallery .qq-upload-button.qq-upload-button-focus {
   .btn {
			background: #4c606a;
			color: #fff;
			svg {
				fill: #fff;
			}
   }
}

.qq-gallery .qq-upload-button {
	text-align: center;
	width: toRem(270);
	margin: auto;
	position: relative;
	.btn {
		background: #fbfbfb;
		color: #048ccd;
		font-size: toRem(16);
		text-transform: initial;
		font-weight: $font-weight-regular;
		padding: 15px 44px;
		width: toRem(270);
		svg {
			width: 30px;
			height: 28px;
			fill: #048ccd;
			margin-right: 5px;
		}
	}
}

.qq-gallery .qq-hide,
.qq-gallery .qq-upload-size {
  display: none;
}

.qq-gallery .qq-edit-filename {
	display: none;
}

.qq-gallery .qq-upload-delete {
	font-size: toRem(12);
	color: #455a64;
	font-weight: $font-weight-bold;
	background: none;
  border: none;
  padding: 0;
}

.qq-gallery .qq-progress-bar-container {
	background: #ececec;
	height: 8px;
	border-radius: 6px;
  margin-bottom: 3px;
  overflow: hidden;
  max-width: 170px;
  width: 100%;
}

.qq-gallery .qq-progress-bar {
  display: block;
  background: #048ccd;
  width: 0;
  border-radius: 6px;
  height: 100%;
}

.qq-upload-list-selector {
	li {
		margin-bottom: toRem(50);
	}
	.qq-thumbnail-wrapper {
		float: left;
		padding-right: 26px;
		svg {
			width: 46px;
			height: 60px;
			fill: #048ccd;
		}
	}
	.qq-file-info {
		overflow: hidden;
	}
	.qq-file-name {
		font-size: toRem(16);
		color: #455a64;
		margin-bottom: toRem(12);
		line-height: 1;
	}
	.qq-upload-status-text {
		font-size: toRem(12);
	}
}