.select-custom {
  &.select-custom-dark {
    + .select2 {
      .select2-selection__arrow {
        b {
          background-image: url('../images/select-up-2.png');
        }
      }
      &.select2-container--open {
        .select2-selection__arrow {
          b {
            background-image: url('../images/select-down-2.png');
          }
        }
      }
    }
  }
  &.select-custom-light {
    + .select2 {
      .select2-selection__arrow {
        b {
          background-image: url('../images/select-up-3.png');
        }
      }
      &.select2-container--open {
        .select2-selection__arrow {
          b {
            background-image: url('../images/select-down-3.png');
          }
        }
      }

      .select2-selection__rendered {
        color: #263238;
        border-bottom: 1px solid #263238;
      }
    }
  }

  + .select2 {
    .list & {
      margin-bottom: toRem(12);
    }
    margin-bottom: toRem(18);
    &:before {
      display: none!important;
    }
    .select2-selection--single {
      background: none;
      border: none;
      position: relative;
      display: inline-block;
      margin-top: 0;
      height: toRem(20);
      max-width: 100%;
    }
    .select2-selection__rendered {
      color: #cedef3;
      font-size: toRem(12)!important;
      border-bottom: 1px solid #cedef3;
      padding: 0!important;
      cursor: pointer;
      margin-right: toRem(10);
      margin-left: toRem(-10);
      overflow: hidden;
      text-overflow: ellipsis;
      //max-width: toRem(140);
      max-width: 100%;
      display: inline-block;
      line-height: 1.4;
    }
    .select2-selection__arrow {
      left: 100%!important;
      right: 0!important;
      top: 2px!important;
      cursor: pointer;
      width: 15px;
      height: 15px;
      b {
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
.select2-dropdown {
  .parent-download-light & {
    &.custom-dropdown {
      background: $white;
      box-shadow: 0 3px 8px rgba(0,0,0,0.16);
      li.select2-results__option {
        color: #8d8d8d;
        &:hover {
          background: none;
          color: #000000!important;
        }
      }
    }
  }
  &.custom-dropdown {
    background: $wedgewood;
    max-width: toRem(140)!important;
    text-align: left;
    border-radius: 2px!important;
    // transform: translateX(50%);
    // margin-left: -20px;
    padding: toRem(8) 0;
    // width: toRem(140)!important;
    li.select2-results__option {
      font-size: toRem(12);
      padding: 5px 15px;
      color: #cedef3;
      &:hover {
        background: $wedgewood2;
        color: $white!important;
      }
    }
  }
}
.select2-container--default {
  .parent-download-light & {
    .custom-dropdown {
      .select2-results__option--highlighted[aria-selected],
      .select2-results__option[aria-selected=true] {
        color: #8d8d8d!important;
      }
    }
  }
  .custom-dropdown {
    .select2-results__option--highlighted[aria-selected],
    .select2-results__option[aria-selected=true] {
      color: #cedef3!important;
    }
  }
}

.date-custom {
  display: block;
  width: 100%;
  > * {
    float: left;
  }
  .day {
    width: 18%!important;
    margin-right: 4%;
  }
  .month {
    width: 18%!important;
    margin-right: 4%;
  }
  .year {
    width: 28%!important;
  }
}

.file-custom {
  display: block;
  width: 100%;
  text-align: right;
  position: relative;
  > strong {
    float: left;
  }
  input[type="file"] {
    width: 100%;
    height: 100%;
    opacity: 0;
    opacity: 0;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    + small {
      font-size: toRem(16);
      display: inline-block;
      color: $alizarin;
      cursor: pointer;
      margin-right: toRem(15);
      pointer-events: none;
    }
  }
}

.custom-tooltip {
  position: absolute;
  right: toRem(-25);
  margin-left: toRem(8);
  width: 18px;
  height: 18px;
  //background: url('../images/icons/tip.svg') center no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='' fill='#b2b2b2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18 18' style='enable-background:new 0 0 18 18;' xml:space='preserve'%3E%3Cpath d='M9,0C4.037,0,0,4.037,0,9s4.037,9,9,9c4.963,0,9-4.037,9-9S13.963,0,9,0z M9,16.364 c-4.06,0-7.364-3.303-7.364-7.364c0-4.06,3.303-7.364,7.364-7.364S16.364,4.939,16.364,9C16.364,13.06,13.06,16.364,9,16.364z'/%3E%3Cpath d='M9,12.545c-0.601,0-1.091,0.489-1.091,1.09c0,0.602,0.489,1.091,1.091,1.091 c0.601,0,1.091-0.49,1.091-1.091C10.091,13.035,9.602,12.545,9,12.545z'/%3E%3Cpath d='M9,3.273c-1.655,0-3.001,1.346-3.001,3.001c0,0.452,0.366,0.818,0.818,0.818s0.818-0.366,0.818-0.818 c0-0.753,0.612-1.365,1.365-1.365c0.753,0,1.365,0.612,1.365,1.365c0,0.753-0.612,1.365-1.365,1.365 c-0.452,0-0.818,0.366-0.818,0.818v1.634c0,0.452,0.366,0.818,0.818,0.818c0.452,0,0.818-0.366,0.818-0.818v-0.93 c1.258-0.357,2.183-1.516,2.183-2.887C12.002,4.619,10.655,3.273,9,3.273z'/%3E%3C/svg%3E");
  background-size: contain;
  top: 8px;
  //fill: #b2b2b2;
  cursor: pointer;
  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='' fill='#239ad3' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18 18' style='enable-background:new 0 0 18 18;' xml:space='preserve'%3E%3Cpath d='M9,0C4.037,0,0,4.037,0,9s4.037,9,9,9c4.963,0,9-4.037,9-9S13.963,0,9,0z M9,16.364 c-4.06,0-7.364-3.303-7.364-7.364c0-4.06,3.303-7.364,7.364-7.364S16.364,4.939,16.364,9C16.364,13.06,13.06,16.364,9,16.364z'/%3E%3Cpath d='M9,12.545c-0.601,0-1.091,0.489-1.091,1.09c0,0.602,0.489,1.091,1.091,1.091 c0.601,0,1.091-0.49,1.091-1.091C10.091,13.035,9.602,12.545,9,12.545z'/%3E%3Cpath d='M9,3.273c-1.655,0-3.001,1.346-3.001,3.001c0,0.452,0.366,0.818,0.818,0.818s0.818-0.366,0.818-0.818 c0-0.753,0.612-1.365,1.365-1.365c0.753,0,1.365,0.612,1.365,1.365c0,0.753-0.612,1.365-1.365,1.365 c-0.452,0-0.818,0.366-0.818,0.818v1.634c0,0.452,0.366,0.818,0.818,0.818c0.452,0,0.818-0.366,0.818-0.818v-0.93 c1.258-0.357,2.183-1.516,2.183-2.887C12.002,4.619,10.655,3.273,9,3.273z'/%3E%3C/svg%3E");
  }
}

.flat-tooltip {
  width: toRem(265)!important;
  font-family: $font-family-roboto;
  font-size: toRem(14);
  line-height: 1.7;
  pointer-events: none;
  .tooltip-close {
    position: absolute;
    background: url('../images/close-3.png') no-repeat;
    //background: #000;
    width: toRem(10);
    height: toRem(10);
    right: toRem(10);
    top: toRem(7);
    //background-size: auto 100%;
    z-index: 99;
    display: block;
    border: none;
    cursor: pointer;
    display: none;
  }
  .tooltip-arrow {display: none!important;}
  .tooltip-inner {
    text-align: left;
    min-width: toRem(265)!important;
    background: $white;
    padding: toRem(10) toRem(15);
    color: #959595;
    box-shadow: 0 3px 10px rgba(0,0,0,0.4);
  }
}

.checkbox-custom {
	position: relative;
	padding-left: toRem(30);
	min-width: toRem(25);
  display: block;
  min-height: toRem(25);
  float: left;
  margin-bottom: toRem(30);
  + label {
		overflow: hidden;
		display: block;
		font-size: toRem(14);
		line-height: 1.9;
		color: #b0bec5!important;
		a {
			display: inline-block;
		}
  }
	input[type="checkbox"] {
  	opacity: 0;
  	position: absolute;
  	right: 0;
  	left: 0;
  	top: 0;
  	bottom: 0;
  	width: toRem(25);
  	z-index: 9;
  	cursor: pointer;
  	&:checked {
  		+ small {
				&:before {
					top: 2px;
					bottom: 2px;
					right: 2px;
					left: 2px;
					background: #058bcd;
					content: '';
					position: absolute;
					display: block;
          border-radius: 2px;
				}
  		}
  	}
  }
  small {
  	position: absolute;
  	left: 0;
  	top: 0;
  	width: toRem(25);
		height: toRem(25);
		display: block;
		background: transparent;
  	border: 1px solid #cfd8dc;
    border-radius: 2px;
  	content: '';
	}
}

.radio-group-h {
  .radio-custom {
    margin-bottom: toRem(10);
    font-weight: $font-weight-bold;
    font-size: toRem(16);
  }
}
.radio-custom {
  position: relative;
	min-height: toRem(23);
	display: inline-block;
	padding-left: toRem(30);
	margin-right: toRem(45);
	margin-top: toRem(5);
	margin-bottom: toRem(20);
	small {
  	position: absolute;
  	left: 0;
  	top: 0;
  	width: toRem(23);
		height: toRem(23);
		display: block;
		background: transparent;
  	border: 1px solid #cfd8dc;
  	border-radius: 50%;
  	content: '';
	}
  input[type="radio"], input[type="checkbox"] {
  	opacity: 0;
  	position: absolute;
  	right: 0;
  	left: 0;
  	top: 0;
  	bottom: 0;
  	width: 100%;
  	height: 100%;
  	z-index: 9;
  	cursor: pointer;
  	&:checked {
  		+ small {
				&:before {
					top: 3px;
					bottom: 3px;
					right: 3px;
					left: 3px;
					background: #058bcd;
					content: '';
					position: absolute;
					display: block;
					border-radius: 50%;
				}
  		}
  	}
  }
}

@include respond-to-max($mobile) {
  .flat-tooltip {
    left: 0!important;
    right: 0!important;
    padding: 0 toRem(5)!important;
    width: auto!important;
    pointer-events: initial;
    .tooltip-inner {
      max-width: 100%;
      width: 100%!important;
    }
    .tooltip-close {
      display: block;
    }
  }
}

@include respond-to-max(569px) {
  .select2-dropdown {
    &.custom-dropdown {
      max-width: none;
      transform: none;
      text-align: center;
      margin-left: 0;
      li.select2-results__option {
        padding: 8px 15px;
      }
    }
  }

  .select2-container {
    .parent-download > & {
      left: toRem(25)!important;
      right: toRem(25)!important;
      .custom-dropdown {
        width: 100%!important;
        min-width: 100%!important;
      }
    }
  }
}