.btn {
	&.btn-flat {
		text-transform: uppercase;
		font-family: $font-family-roboto;
		font-weight: $font-weight-bold;
		border: none;
		outline: none;
		border-radius: 4px;
		&[disabled], &:hover[disabled], &:focus[disabled] {
			opacity: 0.4;
			background: #f3f6f7;
			color: #8e8e8e;
		}
		&.btn-lg {
			font-size: toRem(18);
			line-height: 1;
			//padding: toEm(18) toEm(40);
			padding: toEm(18) toEm(25);
			letter-spacing: toEm(0.5);
		}
		&.btn-xlg {
			font-size: toRem(18);
			line-height: 1;
			padding: toEm(18) toEm(80);
		}
		&.btn-md {
			font-size: toRem(16);
			line-height: 1;
			padding: toEm(14) toEm(22);
			letter-spacing: toEm(0.5);
		}
		&.btn-sm {
			font-size: toRem(14);
			line-height: 1;
			padding: toEm(15) toEm(22);
			letter-spacing: toEm(0.5);
		}
		&.btn-initial {
			text-transform: initial;
		}

		@include respond-to-max($mobile) {
			&.btn-xlg {
				padding: toEm(18) toEm(60);
				width: 100%;
			}
		}
	}
	&.btn-bordered {
		font-weight: $font-weight-bold;
		border: 2px solid $btn-bg-border-1;
		color: $btn-bg-color-1;
		// min-width: toRem(180);
		&:hover {
			background: $btn-bg-2;
		}
		&:active {
			background: $btn-bg-border-1-active;
			border-color: $btn-bg-border-1-active;
		}
		&.btn-sm {
			font-size: toRem(16);
			line-height: 1;
			padding: toEm(10) toEm(25);
		}
	}
	&.btn-link {
		display: inline-block;
		outline: none;
	}


	&.btn-color1 {
		background: $btn-bg-1;
		color: $btn-color-1;
		&:hover {
			background: $btn-bg-1-hover;
		}
		&:active {
			background: $btn-bg-1-active;
		}
	}
	&.btn-color2 {
		background: $btn-bg-2;
		color: $btn-color-2;
		&:hover {
			background: $btn-bg-2-hover;
		}
		&:active {
			background: $btn-bg-2-active;
		}
	}
}