.award {
	font-size: toRem(14);
	line-height: 1.57;
	font-weight: $font-weight-light;
	color: $limed-spruce;
	overflow: hidden;
	margin-bottom: toRem(15);
	img {
		float: left;
		margin-right: toRem(18);
		margin-top: toRem(5);
	}
	span {
		overflow: hidden;
		display: block;
	}
}

.divider {
	background: #f0f0f0;
	height: 1px;
	width: 100%;
	margin: toRem(27) 0 toRem(35);
}

.mobile-links, .app-links {
	margin-bottom: toRem(15);
	margin-top: toRem(5);
	margin-right: toRem(-10);
	a {
		display: inline-block;
		vertical-align: middle;
		margin: 0 toRem(10);
	}
}
.app-links {
	padding-left: toRem(20);
	span {
		text-align: center;
		display: block;
		margin-top: toRem(5);
		font-size: toRem(12);
		color: $limed-spruce;
	}
}

@include respond-to-min($mobile) {
	.grid-9 {
		max-width: 1080px;
		margin: auto;
	}
}

@include respond-to-max($mobile) {
	.award {
		padding-bottom: toRem(20);
		text-align: center;
		img {
			float: none;
			display: block;
			margin: 0 auto toRem(20) auto;
		}
		span {
			font-size: toRem(16);
		}
	}
	.mobile-links {
		a {
			margin-bottom: toRem(20);
		}
	}
	.mobile-links, .app-links {
		float: none;
		margin: 0;
		padding: 0;
		text-align: center;
	}
}