// colors 
// for names of colors been used http://chir.ag/projects/name-that-color/
$white: #fff;
$black: #000;
$tundora: #424242;
$tuatara: #292926;
$alabaster: #f8f8f8;
$alizarin: #e81b22;
$denim: #0b76b5;
$fiord: #455a64;
$regent-blue: #a7c1e1;
$biscay: #17375d;
$lochmara: #058bcd;
$lochmara2: #048ccd;
$limed-spruce: #37474f;
$solitude: #e9f5ff;
$silver: #b2b2b2;
$geyser: #cfd8dc;
$picton-blue: #44afed;
$indigo: #5574c7;
$wedgewood: #587fae;
$wedgewood2: #4b719e;
$wedgewood3: #4f729c;
$wedgewood4: #46668b;
$gull-gray: #90a4ae;
$thunderbird: #d0181f;
$thunderbird2: #ba161b;

// UI 
$btn-bg-1: $alizarin;
$btn-bg-1-hover: $thunderbird;
$btn-bg-1-active: $thunderbird2;
$btn-color-1: $solitude;
$btn-bg-2: $wedgewood;
$btn-color-2: $white;
$btn-bg-2-hover: $wedgewood3;
$btn-bg-2-active: $wedgewood4;

$btn-bg-border-1: $wedgewood;
$btn-bg-color-1: $regent-blue;
$btn-bg-border-1-active: $wedgewood2;

$gradient-txt1-from: $picton-blue;
$gradient-txt1-to: $indigo;

// Base measurements
$base-font-size: 16;
$base-line-height: 24;
// Calculated measurements
$line-height-ratio: $base-line-height / $base-font-size;

// Fonts
$font-family-roboto: 'Roboto';
$font-family-ubuntu: 'Ubuntu';
$font-roboto-regular: normal;

$font-weight-thin: 100;
$font-weight-bold: bold;
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-regular: normal;
  
$font-family-default: $font-family-roboto;

// media
$tablet: 992px;
$mobile: 768px;


