.benefits {
	padding-top: toRem(40);
	padding-bottom: toRem(15);
	.benefits__title {
		font-size: toRem(50);
		font-weight: $font-weight-light;
		color: $tuatara;
		display: block;
		text-align: center;
		margin: 0;
		padding-bottom: toRem(45);
	}
	.benefit-item {
		padding: 0 toRem(40) toRem(30);
	}
	.benefits__subtitle {
		font-size: toRem(32);
		font-weight: $font-weight-light;
		color: $limed-spruce;
		text-align: center;
		margin: 0;
		line-height: 1.4;
		padding: 0 0 toRem(40) 0;
	}
	.benefits__details {
		padding-bottom: toRem(30);
		.details__img {
			float: right;
		}	
	}
	.benefits__list {
		font-size: toRem(16);
		font-weight: $font-weight-light;
		line-height: 1.5;
		li {
			padding-bottom: toRem(28);
			position: relative;
			z-index: 1;
			padding-left: toRem(28);
			&:before {
				position: absolute;
				content: '';
				top: 7px;
        left: 0;
				width: 15px;
				height: 15px;
				display: block;
				z-index: -1;
				background: url('../images/icons/tick.svg') no-repeat;
			}
		}
	}
}

.benefits__links {
	margin-bottom: toRem(15);
	display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
}

@include respond-to-max($mobile) {
	.benefit-item {
		width: 100%;
	}
	.benefits__links {
		display: block;
	}
	.benefits {
		//padding-top: toRem(10);
		.benefits__title {
			font-size: toRem(30);
		}
		.slick-dotted.slick-slider {
			margin-bottom: 0!important;
		}
		.slick-dots {
			display: none!important;
		}
		.slick-initialized .slick-slide {
			display: inline-block!important; // fix bug with carousel
		}
		.benefits__subtitle {
			font-size: toRem(26);
		}
		.benefits__details {
			.details__img {
				float: none;
				margin: 0 auto toRem(45) auto;
    		display: block;
			}			
		}
	}
}

.benefit-item {
	text-align: center;
	font-size: toRem(16);
	line-height: 1.8;
	color: $limed-spruce;
	display: inline-block;
	margin-right: -4px;
	float: none;
	vertical-align: top;
	outline: none;
	padding-bottom: toRem(30);
	.benefit-icon {
		margin-bottom: toRem(14)!important;
	}
	p {
		font-size: toRem(16);
    line-height: 1.4;
    margin-bottom: toRem(5);
	}
	span {
		font-weight: $font-weight-light;
		display: block;
	}
}
.benefit-icon {
	fill: $lochmara;
	width: toRem(115);
	height: toRem(115);
	position: relative;
	display: block;
	margin: auto;
	z-index: 1;
	&:before {
		content: '';
		position: absolute;
		border: 1px solid #d6dde1;
		background: $white;
		display: block;
		width: toRem(115);
		height: toRem(115);
		// left: toRem(-26);
		// top: toRem(15);
		left: 0;
		top: 0;
		border-radius: 50%;
		z-index: -1;
	}
	> svg {
		// width: toRem(60);
		// height: toRem(60);
		// margin: toRem(25) auto;
		width: 50%;
    height: 45%;
    margin: 28% auto;
	}
}