.bfamily {
	max-width: toRem(240);
	text-align: center;

	.bfamily__text {
		font-size: toRem(16);
		color: $gull-gray;
		line-height: 1.5;
		margin-bottom: toRem(20);
	}
	.bfamily__text2 {
		font-size: toRem(14);
		font-weight: $font-weight-light;
		color: $fiord;
		line-height: 1;
		margin-bottom: toRem(0);
		letter-spacing: -0.2px;
	}
	// .btn-family__text {
	// 	font-size: toRem(12);
	// 	text-align: center;
	// 	margin-bottom: toRem(14);
	// }
	&.bfamily-style1 {
		max-width: toRem(310);
		.btn-link {
			margin-top: toRem(8);
		}
	}
	&.bfamily-style2 {
		margin-left: auto;
		margin-right: auto;
		a {
			&:nth-of-type(2n+1) {
				margin-left: 0;
			}
			margin-left: 5%;
			display: inline-block;
			margin-right: -4px;
			width: 45%;
			font-size: toRem(14)!important;
			text-transform: initial;
			padding: toRem(8) toRem(10)!important;
		}
	}
	a {
		display: block;
		clear: both;
	}

	&.bfamily-center {
		margin: auto;
	}
}