.devices {
	padding: toRem(40) 0;
	text-align: center;
	.devices__item {
		margin-bottom: toRem(15);
		.item__icon {
			fill: $regent-blue;
			display: block;
			margin-bottom: toRem(4);
			min-height: toRem(165);
			> svg {
				max-width: 85%;
				fill: $regent-blue;
			}
		}

		.devices__text {
			font-size: toRem(14);
			margin-bottom: toRem(10);
		}
	}
	.devices__wrap {
		min-height: toRem(63);
	}
	.devices__title {
		font-size: toRem(50);
		font-weight: $font-weight-light;
		color: $white;
		margin-top: 0;
		margin-bottom: toRem(48);
	}
	@include respond-to-max($tablet) {
		.devices__wrap {
			min-height: auto;
			padding-bottom: toRem(8);
		}
		.devices__item {
			margin-top: toRem(80);
			.item__icon {
				margin-bottom: toRem(35);
				> svg {
					width: 100%;
				}
			}
		}
	}
	@include respond-to-max($mobile) {
		padding: toRem(50) 0 toRem(10) 0;
		.devices__title {
			font-size: toRem(30);
		}
	}
}