.modal-backdrop {
	 z-index: 9999;
}
.modal {
	&.modal-market {
		.modal-body {
			padding: 0;
		}
		.modal-header .close {
			background-image: url('../images/close-2.png');
		}

		.hero__wrapper {
			padding: toRem(65) toRem(25) toRem(5) toRem(20);
			background-image: url('../images/hero-bg-simple.jpg');
			background-size: cover;
			overflow: hidden;
			position: relative;
			z-index: 1;
			&:before {
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				left: 0;
				bottom: 0;
				z-index: -1;
				background: url('../images/serious-man.png') right 20px bottom no-repeat;
			}
		}
		.hero__logo {
		  max-width: toRem(300);
		  height: toRem(59);
		}
		.hero__title, .hero__subtitle {
			font-size: toRem(22);
			line-height: 1.4;
			font-family: $font-family-roboto;
		}
		.hero__description {
			padding: toRem(22) toRem(25) toRem(40);
			p {
				font-size: toRem(18);
				line-height: 1.77;
				font-weight: $font-weight-light;
				margin-bottom: toRem(24);
			}
		}
	}
	z-index: 99999;
	.modal-content {
		 overflow: hidden;
	}
	.modal-header {
		padding: 0;
		border: none;
		.close {
			position: absolute;
			background: url('../images/close.png') no-repeat;
			width: toRem(15);
			height: toRem(15);
			display: block;
			top: 18px;
			right: 16px;
			z-index: 99;
			opacity: 1;
			outline: none;
		}
	}
	.modal-body {
		padding: toRem(40);
    padding-top: toRem(35);
    padding-bottom: toRem(32);
	}
	.modal-dialog {
		position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: table;
    // left: 50%;
    // transform: translateX(-50%)!important;
    margin: auto;
    z-index: 999999;
    max-width: 570px;
    width: 100%;
    // height: 100%;
    overflow: auto;
	}

	@include respond-to-max($mobile) {
		.modal-dialog {
			height: 100%;
		}
		.modal-content {
			top: 58px;
	    //height: 100%;
	    height: auto;
	    overflow: auto;
	    padding-bottom: 25px;
	    border: none;
		}

		&.modal-market {
			.hero__wrapper {
				text-align: center;
				&:before {
					display: none!important;
				}
			}
			.hero__description {
				padding-bottom: toRem(10);
				p {
					font-size: toRem(16);
				}
			}
			.hero__title, .hero__subtitle {
				font-size: toRem(18);
			}
		}
	}
}