.select2 {
	width: 100%!important;
}
.select2-container {
	margin-bottom: toRem(12);
}

.select2-container--default {
	&.select2-container--above {
		&.select2-container--open {
			&:before {
				content: '';
				position: absolute;
				top: 0;
				width: 100%;
				height: 1px;
				background: $silver!important;
			}
		}
	}
	.select2-search--dropdown {
		display: none;
	}
	.select2-dropdown {
		padding: toRem(10) 0;
		border: none;
		box-shadow: 0 5px 5px rgba(0,0,0,0.09), 0 5px 10px rgba(0,0,0,0.04);
		border-radius: 0;
	}
	.select2-results__option--highlighted[aria-selected] {
		background: none;
		color: rgba($black, 0.5);
	}
	.select2-results__option[aria-selected=true] {
		color: $black!important;
		background: none;
	}
	.select2-results__option {
		padding: toRem(5) toRem(20);
		font-size: toRem(16);
		font-weight: $font-weight-bold;
		color: rgba($black, 0.5);
		&:hover, &:focus {
			background: none;
			color: $black;
		}
	}
	&.select2-container--open {
		.select2-selection--single {
			.select2-selection__arrow {
				b {
					background: url('../images/select-down.png') no-repeat;
				}
			}
		}
	}
	.select2-selection--single {
		border: none;
		height: toRem(35);
		margin-top: toRem(7);
		border-bottom: 1px solid $silver;
		border-radius: 0;
		outline: none;
		&[aria-expanded="true"] {
			.select2-selection__rendered {
				color: #fff;
			}
		}
		.select2-selection__arrow {
			top: 10px;
    	right: 0;
			b {
				margin-left: 0;
				//border-color: #d5d5d5 transparent transparent transparent;
				border: none;
				background: url('../images/select-up.png') no-repeat;
				width: 10px;
				height: 6px;
				display: block;
			}
		}
		.select2-selection__rendered {
			padding-left: toRem(20);
			font-size: toRem(16);
			font-weight: $font-weight-bold;
		}
	}
}