.xform {
	padding: toRem(45) 0 toRem(60) 0;
	.xform__title {
		font-size: toRem(50);
		font-weight: $font-weight-light;
		text-align: center;
		margin-top: 0;
		margin-bottom: toRem(50);
	}

	&.xform-style2 {
		padding: toRem(30) 0 toRem(50) 0;
		.xform__title {
			font-size: toRem(40);
			line-height: 1.38;
			color: #292926;
		}
	}

	@include respond-to-max($mobile) {
		padding: toRem(50) 0 toRem(50) 0!important;
		.xform__title {
			font-size: toRem(30)!important;
			font-weight: $font-weight-thin;
		}
	}
}
.xform__center {
	float: none;
	margin: auto;
}